*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
}

body{
    background-color: rgb(224, 224, 224);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
}

#corpo-calculadora{
    display: flex;
    background-color: #000000;
    color: white;
    width: 300px;
    border-radius: 20px;
    padding: 0.5em;
    flex-direction: column;
}
h3{
    font-size: 0.8em;
    color: #9c9c9c;
    font-weight: 300;
}

#operacoes-view{
    text-align: right;
}

#operacao-anterior{
    color: #9c9c9c;
    padding: 0.2em;
    overflow-wrap: break-word;
    min-width: 1.6em;
}

#operacao-atual{
    min-height: 1.6em;
    font-size: 3em;
    font-weight: 700;
    padding: 0.2em;
    overflow-wrap: break-word;
}

#container-botoes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}

#container-botoes button:hover{
    scale: 1.12;
    background-color: #9d9c9d;
}

#container-botoes button{
    border: 1px solid transparent;
    border-radius: 50%;
    height: 3.5em;
    width: 3.5em;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #303030;
    color: white
}

#container-botoes .operacoes{
    background-color: #ff9200;
}

#container-botoes .operacoes:hover{
    background-color: #ffc700;
}

#container-botoes .top-buttons{
    background-color: #5c5c5b;
}