*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(224, 224, 224);
    display: flex;
    align-items: center;
    margin-top: 50px;
}

#corpo-calculadora{
    display: flex;
    background-color: lightblue;
    width: 300px;
    height:500px;
    border-radius: 20px;
    margin: auto;
}

#tela-de-resultado{
    display: block;
    background-color: blue;
    border-radius: 20px;
    width: 290px;
    height: 70px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: right;
}

p{
    font-size: 60px;
    padding-right: 20px;
    font-family: 'Franklin Gothic Medium';
}


